body{
    font-family: Arian, sans-serif;
}
.container{
    width:90% ;
    margin: 0 auto;
    border:1px #f9afaf
    padding: 15px;
}
.coluna-principal{
    float: left;
    width: 65%;
    background-color: aliceblue;
    padding: 15px;
    box-sizing: border-box;
}
.coluna-secundaria{
    float: right;
    width: 30%;
    background-color: aliceblue;
    padding: 15px;
    box-sizing: border-box;
}
.limpa flutuação{
    clear: both;
}
.botão fixo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: antiquewhite;
    color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2 px 2px 5px rgb(red, green, blue);
    z-index: 100;
}